
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-sm-4 col-md-4">
				<br>
				<div class="container">
					<a class="btn btn-social-icon btn-sm btn-envelope-open"
						href="mailto:info@yoursite.com?subject=Let's%20Connect"><span
						class="fa fa-envelope-open"></span></a> <a
						class="btn btn-social-icon btn-sm  btn-twitter"
						href="https://twitter.com/yoursite"> <span
						class="fa fa-twitter"></span></a> <a
						class="btn btn-social-icon btn-sm btn-github"
						href="https://github.com/yourself/your_code"><span
						class="fa fa-github"></span></a>
				</div>

			</div>
			<div class="col-xs-4 col-sm-8 col-md-8">
				<br>
				<p class="copyright">Copyright &copy; YourCompany, Inc. | All
					Rights Reserved</p>
			</div>

		</div>
	</div>
</footer>
